<!doctype html>
 <html>
    <head>
        {% if title %}
            <title>{{ title }} - SinDiLitik </title>
        {% else %}
            <title>SinDiLitik!</title>
        {% endif %}
    </head>
    <body>
        <div> 
            Навигация:
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Home</a>
        </div>
        <hr> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
 </html>